html, body
{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

section
{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#home-page
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbf9f8;    
    color: #403f3f;
}

.card
{
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

svg
{
    height: 5em;
    width: auto;
    color: #fbf9f9;   
    background: #a19f9f;
}

.links
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.web-link
{
    height: 100%;
    width: auto;
}

#go-to-projects
{
    background: #403f3f;
    border: none;
    height: 2em;
    outline: none;
    font-size: 2em;
    border-radius: 1em;
    font-family: inherit;
    color: #f0eded;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#go-to-projects:hover
{
    cursor: pointer;
}

#projects-page
{
    background: #fbf9f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
    padding: 0;
    margin: 0;
}

.content
{
    display: grid;
    padding: 10px;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-item
{
    margin: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: auto;
    gap: 1em;
}

img
{
    max-height: auto;
    max-width: 100%;
}

a
{
    text-decoration: none;
    color: #8a8989;
    font-size: 1.45em;
}

a:hover
{
    color: #403f3f;
    transition: 0.3s;
}